<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5</title>
  <style type="text/css">
    html, body {margin: 0; padding: 0; overflow: hidden}
  </style>
</head>

<body>
    <div id="webgl"></div>
    <script src="lib/dat.gui.min.js"></script>
    <script src="../lib/three.js"></script>
    <script src="../lib/WebGL.js"></script>
    <script src="../lib/stats.js"></script>
    <script src="../lib/OrbitControls.js"></script>
    <script src="../lib/STLLoader.js"></script>
    <script src="../lib/Lut.js"></script>
    <script src="../main.js"></script>
</body>
</html>